{% extends "base.html" %}

{% block content %}
    <div>
        <h1>Создание группы</h1>
    </div>
    <form action="" method="post">
    {{ form.hidden_tag() }}
    <div class="withButtonError">
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>

        {% if message %}
            <div class="alert alert-danger">{{message}}</div>
        {% endif %}
    </div>
    <div class="student_cell">
    {{form.count.label}}
    </div>
    <div class="student_cell">
        <div class="field">
            <p>{{ form.count(class="form-control", type="login") }} </p>
        </div>
        <div class="button_back">
            <p class="delete_btn">{{ form.refresh(type="submit", class="btn btn-primary") }}</p>
            <a class="btn btn-secondary " href="/listtestst">Вернуться</a>
        </div>
    </div>
    <p>
            {{ form.login.label }}<br>
            {{ form.login(class="form-control", type="login") }}<br>
            {% for error in form.login.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
    </p>
    <p>
            {{ form.name_group.label }}<br>
            {{ form.name_group(class="form-control", type="login") }}<br>
            {% for error in form.name_group.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
    </p>
    {{ form.initials.label }}<br>
    {% for i in form.initials%}
    <p>
        <div class="student_cell">
            <div class="field">
                {{ i.form.inits(class="form-control", type="login") }}<br>
                {% for error in form.initials.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </p>
    {% endfor %}
    </form>
{% endblock %}