{% extends "base.html" %}

{% block content %}
    <div>
    <h1> {{ what_test.name }} </h1>
        <form action="" method="post">
        <div>
            {{ what_task.question}}
        </div>
        <div>
            {{ form.answer.label }}<br>
                {{ form.answer(class="form-control", type="text") }}<br>
                {% for error in form.answer.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </div>
        </form>
    </div>
{% endblock %}