{% extends "base.html" %}

{% block content %}
    <h1>Создание теста</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="col">
                <p>{{form.go_out_btn(type="submit", class="btn btn-primary")}}</p>
            </div>
            <div class="col">
                <p>{{ form.create_test(type="submit", class="btn btn-primary") }}</p>
            </div>
        </div>
        <p>
            {{ form.to_who.label }}<br>
            {{ form.to_who(class="form-control", type="text") }}<br>
            {% for error in form.to_who.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.count.label }}<br>
            {{ form.count(class="form-control", type="number") }}<br>
            {% for error in form.count.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <div>{{ message }}</div>
    </form>
{% endblock %}