{% extends "base.html" %}

{% block content %}

<div>
    <h1>Список паролей</h1>
    {{message}}
</div>
<br>
<div>
    <p class="text-left">Ключ для доступа к этой группе: {{key}}</p>
    <p class="text-left">Следующй список пренадлежит последней созданной группе:</p>
</div>
<div class="table">
    {% set count = len // 3 %}
    {% for i in range(count)%}
    <div class="row">
        {% for j in range(i * 3, i * 3 + 3) %}
        <div class="cell">
            <p class=text-left"">{{list[j][0]}}</p>
            <p class=text-left"">{{list[j][1]}}</p>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
<div class="alert alert-danger" role="alert">
    Пожалуйста сохраните предоставленный список для раздачи учениками вашей группы, страницу можно посетить повторно до создания новой группы или выхода из аккаунта!
</div>

{% endblock %}