{% extends "base.html" %}

{% block content %}
    <div>
        <h1>Создание группы</h1>
        {{message}}
    </div>
    <form action="" method="post">
        {{ form.hidden_tag() }}
    <div class="student_cell">
    {{form.count.label}}
    </div>
    <div class="student_cell">
        <div class="field">
            <p>{{ form.count(class="form-control", type="login") }} </p>
        </div>
        <p class="delete_btn">{{ form.refresh(type="submit", class="btn btn-primary") }}</p>
        <a class="btn btn-secondary " href="/listtestst">Вернуться</a>
    </div>
    </form>
{% endblock %}