{% extends "base_without_main.html" %}

{% block content %}

<div class="top_div">
    {{message}}
</div>
<div class="container">
    <form action="" method="post">
        {% for i in form.choosen_groups %}
        <div class="student_cell">
            <div class="initials">

            </div>
            {{i.form.selected_group(class="form-control")}}
            {% for error in form.choosen_groups.errors %}
                    <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endfor %}
        {% endfor %}
        </div>
    </form>
</div>

{% endblock %}